div{
    border-color: dodgerblue;
    border-width: 5px;
    border-style: double;
}
.hi{
  color:darkorange;
  font-family: 'Open Sans', sans-serif;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}