div{
    border-color: lightskyblue;
    border-width: 5px;
    border-style: double;
}
.hi{
  color:lime ;
  font-family: 'Karma', serif;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}