.submit{
  fill: dodgerblue ;
  color: dodgerblue ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.usernamelabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.passwordlabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}